<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Login system</title>
</head>

<body>
    <main id="container">
        <div id="home">
            <h2 id="tittle">Login System</h2>
            <hr>
            <p>Login system using Express Session middleware with JSON</p>
            <input type="button" name="btn-test" class="btn test" value="TEST">
        </div>
    </main>
    <div class="md-overlay">
        <div class="md">
            <span class="close">x</span>
            <div class="md-content">
                <h2>Login</h2>
                <form method="post">
                    <input type="text" name="user" class="input user" placeholder="User" autocomplete="off">
                    <input type="password" name="password" class="input password" placeholder="Password" autocomplete="off">
                    <small>Don't have a account? <a href="#"> Register. </a></small>
                    <input type="submit" name="login" class="btn login" value="Login">
                </form>
            </div>
        </div>
    </div>
    <footer>
        <p> Developed by Fábio Matsumoto</p>
    </footer>
</body>
<script type="module" src="./scripts/index.js"></script>

</html>