<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Login system</title>
</head>

<body>
    <main id="container">
        <div id="home">
            <h2 id="tittle">Login System</h2>
            <hr>
            <p>You are now logged in.</p>
            <input type="button" name="btn-test" class="btn logout" value="Logout!">
        </div>
    </main>
  
    <footer>
        <p> Developed by Fábio Matsumoto</p>
    </footer>
</body>
<script type="module" src="./scripts/index.js"></script>

</html>