<%- include('./partial/header') %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
     <h1><i class="fab fa-node fa-3x"></i></h1>
     <p>Bem-vindo! Crie uma conta ou faça o login.</p>
     <a href="/users/register" class="btn btn-secondary btn-block">Registrar</a>
     <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
    </div>
  </div>
</div>
